<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style/deploy.css">
    <title>KC Deploy</title>
    <script src="script/vue.js"></script>
    <script src="script/jquery-3.1.1.js"></script>
    <script src="script/cfg.js"></script>
  </head>
  <center>
  <h2>服务器couchdb KC部署</h2>
  </center>
  <body onunload="goodbye()">
   <!-- component template -->
    
    <label>couchDB 账号:</label><input type="text" id="couchdbUser" value="sye" placeholder="请输入商家编号"><br>
    <label>couchDB 密码:</label><input type="password" id="couchdbPassWD" value="111111" placeholder="请输入OC账号"><br>
    <!-- demo root element -->
    <div id="demo" ref="addBusiness">
      <!--form id="ttt"-->
        <label>商家编号:</label><input type="text" v-model="bid" placeholder="请输入商家编号"><br>
        <label>OC账号:</label><input type="text" v-model="uoc" placeholder="请输入OC账号"><br>
        <label>OC密码:</label><input type="text" v-model="poc" placeholder="请输入OC密码"><br>
        <label>DB账号:</label><label>{{bid}}</label><br>
        <label>DB密码:</label><label>{{poc}}</label><!--input type="text" v-model="pdb" placeholder="请输入DB密码"--><br>
        <button @click.sync="add()" :disabled="addDisabled">add</button><br>
      <!--/form-->
      <!--form id="search"-->
        Search <input name="query" v-model="searchQuery">
      <!--/form-->
      <br>
      <demo-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </demo-grid>
    </div>
    <script type="text/x-template" id="grid-template">
      <table id="myTable">
        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ titleList[key] | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
            <th>
              <input type="checkbox" class="checkbox" @click="selectAll" />全选
              <label> 
              操作
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(entry, idx) in filteredData">
            <td v-for="key in columns">
              <input type="text" :value="entry[key]" :ref="key + idx" :disabled="disabled[key]">
            </td>
            <td>
              <input type="checkbox" :id="idx" :value="idx" v-model="checkedNames">
              <button @click.sync="edit(idx)">edit</button>
              <button @click.sync="save(idx)" :disabled="saveDisabled">save</button>
              <button @click.sync="check(idx)">check</button>
              <button @click.sync="del(idx)">del</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="1">Total</td>
          <td colspan="5">
            <button @click.sync="check(idx)">删除</button>
            <button @click.sync="check(idx)">编辑</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </script>
    <script src="script/vueCom.js"></script>
  </body>
</html>