<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style/deploy.css">
    <title>门店couchdb 部署</title>
    <script src="script/vue.js"></script>
    <script src="script/jquery-3.1.1.js"></script>
    <script src="script/cfg.js"></script>
  </head>
  <center>
  <h2>门店Couchdb部署</h2>
  </center>
  <body onunload="goodbye()">
    <label>couchDB 账号:</label><input type="text" id="couchdbUser" value="sye" placeholder="请输入商家编号"><br>
    <label>couchDB 密码:</label><input type="password" id="couchdbPassWD" value="sye123456" placeholder="请输入OC账号"><br>
    <!-- demo root element -->
    <div id="demo">
      <!--form id="ttt"-->
        <label>商家编号:</label><input type="text" v-model="bid" placeholder="请输入商家编号"><br>
        <label>DB账号:</label><label>{{bid}}</label><br>
        <label>DB密码:</label><input type="text" v-model="pdb" placeholder="请输入DB密码"><br>
        <label>门店ID:</label><input type="text" v-model="storeid" placeholder="请输入门店ID"><br>
        <button @click.sync="add()" :disabled="addDisabled">add</button>
        <button @click.sync="del()" :disabled="delDisabled">del</button>
        <button @click.sync="check()" :disabled="checkDisabled">check</button><br>
      <!--/form-->
      <br>
    </div>
    <script src="script/vueStore.js"></script>
  </body>
</html>