<div id="block_menu">
    <div>
        <a href="/" title="首页" rel="home" id="logo">
            <img src="/images/spark_opp_logo.png" alt="首页" class="logo" width="200px">
        </a>
    </div>

    <div id="menu_list" class="block">
        <ul class="menu">
            <li class="kc_config"><a href="/kc/config" class="active" title="kc config">KC服务配置</a></li>
        </ul>
    </div>
</div>