<header id="block_top" class="navbar">
    <div id="navbar_left">
        <%= title %>
    </div>
    <!--<div id="navbar_right">-->
        <!--<ul class="menu">-->
            <!--<li class="first leaf"><a href="/user">我的帐户</a></li>-->
            <!--<li class="last leaf"><a href="/user/logout">退出</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</header>