<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/kc_config.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/layer/layer.js"></script>
    <script src="/javascripts/store_conf.js"></script>
    <script src="/javascripts/couch_db.js"></script>
    <title>KC Deploy</title>
</head>
<body>

<% include block_menu.ejs %>

<div id="block_content">
    <% include content_top.ejs %>

    <div id="content_main">

        <table id="kc_config_table">
            <thead>
            <tr>
                <th class="">商家编号<span class="arrow asc"></span></th>
                <th class="">商家密钥<span class="arrow asc"></span></th>
                <th class="">门店号<span class="arrow asc"></span></th>
                <th class="">云端地址<span class="arrow asc"></span></th>
                <th class="">上行<span class="arrow asc"></span></th>
                <th class="">下行<span class="arrow asc"></span></th>
                <th><label>操作</label></th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <td><input type="text" name="mc_id" placeholder="如：b726" ></td>
                <td><input type="text" name="mc_pass" placeholder="如：restws.gtdx" ></td>
                <td><input type="text" name="store_id" placeholder="如：729" ></td>
                <td><input type="text" name="url" placeholder="如：couchdb-cloud.sparkpad-dev.com" ></td>
                <td><input style="margin-left: 35%;" type="checkbox" checked="checked" name="up" ></td>
                <td><input style="margin-left: 35%;" type="checkbox" checked="checked" name="down" ></td>
                <td><button type="button" onclick="addStoreConf($(this))">增加</button></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $('.menu_store_config').children('a').addClass('active');
</script>
</body>
</html>