#kc_config_table {
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
}

#kc_config_table th {
  color: #444;
  cursor: pointer;
  user-select: none;
  height: 50px;
  background-color: #f4f5f9;
}

#kc_config_table tr {
  border-bottom: 1px solid #e1e1e1;
  background-color: #fbfbfc;
}

#kc_config_table .row {
  background-color: #ffffff;
}

#kc_config_table tfoot tr {
  background-color: #ffffff;
}

#kc_config_table td {
  height: 50px;
  padding: 5px;
  text-align: center;
}

#kc_config_table input {
  width: 100%;
  height: 80%;
  text-align: center;
  border: none;
}

#kc_config_table .insert input {
  border: 1px solid #e1e1e1;
}

#kc_config_table tfoot input {
  border: 1px solid #e1e1e1;
}
